.cursorrules
*.test.txt
*_test.txt
large_test_file.txt

# Ignore uploads directory
backend/uploads/
backend/uploads/*

# Ignore all env files
.env
.env.*
*.env
frontend/node_modules/*
frontend/node_modules
ai_demo/
docs/todos/
docs/todos/*
.cursorignore
node_modules/

scripts/remove_user.py